<head>
    <title>ParadiseBOT web app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <center>
        <h1>ParadiseBOT</h1>
        <b><p id="response">Waiting for response...</p></b>
    </center>
    <hr>
    
    <div class="panel panel-primary" style="margin: 50px; margin-top: 20px !important;">
        <div class="panel-heading">AI Tools</div>
        <div class="panel-body">
        <div class="form-group">
            <label for="id">Toggle AFK/DM bot</label><br>
            <button type="button" onclick="toggle()" class="btn btn-primary">TOGGLE</button>
        </div>
        <hr>
        <div class="form-group">
            <label for="id">Whitelist</label>
            <input type="text" class="form-control" id="id" aria-describedby="id" placeholder="User ID">
            <small id="idHelp" class="form-text text-muted">Example: 616374766772944896</small>
        </div>
        <button type="button" onclick="addID()" class="btn btn-primary">WHITELIST</button>
        <button type="button" onclick="addID()" class="btn btn-primary">GET WHITELIST</button>
        </div>
    </div>
    <div class="panel panel-primary" style="margin: 50px; margin-top: 20px !important;">
            <div class="panel-heading">PERSONAL Tools</div>
            <div class="panel-body">
            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" aria-describedby="id" placeholder="your status">
                <small id="idHelp" class="form-text text-muted">Example: with ParadiseBOT</small>
            </div>
            <button type="button" onclick="updateStatus()" class="btn btn-primary">UPDATE</button>
            </div>
        </div>
</body>

<script>
function addID() {
  const id = document.getElementById("id").value
  document.getElementById("id").value = ""
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("response").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "whitelist/" + id, true);
  xhttp.send();
}

function fetchWhitelist() {
  const id = document.getElementById("id").value
  document.getElementById("id").value = ""
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("response").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "whitelist", true);
  xhttp.send();
}

function updateStatus() {
  const status = document.getElementById("status").value
  document.getElementById("status").value = ""
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("response").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "status/" + status, true);
  xhttp.send();
}

function toggle() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("response").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "toggle/" + status, true);
  xhttp.send();
}
</script>
